<div class="landing-page-wrapper">
    <div id="landing-page-middle">
        {{outlet}}
        <img src="plugins/discourse-landing-page/images/default-image.png" alt="" style="max-width: 100%">
    </div>
</div>