<div class="landing-page">
    <div id="landing-page-header">
        <div class="content">
            <div class="text-center title">{{ i18n 'discourse_landing_page.title' }}</div>
            <div class="description-container">
                <div class="text-center description">{{ i18n 'discourse_landing_page.description' }}</div>
            </div>
            <div class="flex-row header-link-container">
                <a href="/login" class="header-link">
                    <p>{{ i18n 'login.title' }} ></p>
                </a>
                <a href="/signup" class="header-link">
                    <p>{{ i18n 'sign_up' }} ></p>
                </a>
            </div>
        </div>
    </div>
</div>