.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f8f8f8;

  #landing-page-header {
    width: 100%;
    background-color: white;

    .content {
      padding: 60px 0;

      .title {
        font-family: "MetropolisNF";
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        /* identical to box height, or 121% */

        color: #363f4a;
      }

      .description {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */

        color: #6f7680;
      }

      .header-link-container {
        gap: 32px;

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          color: #005859;
        }
      }
    }
  }

  #landing-page-middle {
    width: 100%;
    margin: 40px 0;
    background-color: #f8f8f8;
  }

  #landing-page-footer {
    width: 100%;
    background-color: #f8f8f8;

    .content {
      padding: 32px 0;
      border-top: 1px solid #d6d8dc;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 190px;

      .footer-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        color: #8e959d;
      }

      #left-side,
      #right-side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      #right-side {
        gap: 24px;
      }
    }
  }

  .description,
  p {
    font-family: "Inter";
  }
}

.landing-page-login-wrapper {
  width: 100%;
  padding: 60px 0;
  background-color: #f8f8f8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a,
  input,
  button {
    font-family: "Inter";
  }

  .login-side {
    min-width: 200px;
    width: 30%;

    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.44);
    border-radius: 28px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      align-self: flex-start;

      font-family: "MetropolisNF";
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      /* identical to box height, or 121% */

      color: #363f4a;
    }

    #login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 24px;

      #credentials {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login__password-links {
          align-self: flex-end;

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            /* identical to box height, or 144% */

            color: #8e959d;
          }
        }

        input {
          width: 100%;
          height: 56px;
          background: #ffffff;
          border: 1px solid #8e959d;
          border-radius: 4px;
        }
      }
    }
    #login-button {
      width: 100%;
      margin-top: 24px;

      background: #005859;
      border-radius: 28px;
    }

    .spinner {
      margin: 8px 0;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
